* {
  font-family: var(--base-font);
  line-height: var(--base-line-height);
}

html,
body {
  font-size: var(--font-size-base);
  font-weight: var(--base-font-weight);
  margin: 0;
  padding: 0;

  color: var(--base-color);
}

body {
}

h1 {
}
