/* MAIN */

#root {
  height: 100%;

  display: flex;
  flex-direction: column;

  flex: 1;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;

  font-size: var(--font-size-base) !important;
  color: var(--dark) !important;
}

main {
  position: relative;

  display: flex;
  flex-direction: column;

  flex: 1;

  background-color: var(--white);
}

.main_inside {
  background-color: var(--white-accent);

  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: var(--header-height);
  }
}

/* SECTION */

section {
  padding-block: var(--section-padding);
}

/* FOOTER */

footer {
  color: var(--white);
  background-color: var(--bar-background);

  border-top: 1px solid #000;
}

/* LOGO */

.logo {
  margin-bottom: 5px;
  width: auto;
  height: 42px;

  transition: transform 0.3s ease;
  transform-origin: center;
}

.logo:hover {
  transform: rotateY(18deg) scale(0.95);
}

@media screen and (max-width: 767px) {
  .logo {
    height: 28px;
  }
}

/* BUTTON */

button {
  position: relative;

  padding: 0.5rem 1rem;

  width: fit-content;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  align-items: center;

  transition: var(--transition2);

  color: var(--dark);
}

button:hover {
  transform: scale(1.02);
}

button:hover::after {
  opacity: 1;
}

button:active {
  transform: scale(1);
  border-bottom-color: transparent;
}

.accent_btn {
  color: var(--dark);
}

.dark_button {
  color: var(--white);

  background: var(--accent-color);

  text-align: end;
}

.dark_button:hover {
  transform: scale(1.01);
}

.dark_button:active {
  border-bottom: none;
}

.dark_button svg {
  color: var(--white);
}

/* TAG BUTTON */

.tag_button {
  color: var(--dark);

  border: 1px solid var(--bar-background);
  border-radius: 50px;
}

.tag_button:hover {
  border-color: var(--accent-color);
  color: var(--white);
  background-color: var(--accent-color);
}

/* SVG */

svg {
  margin-right: 14px;
  color: var(--dark);

  width: 18px;
  height: 18px;
}

.small_icon {
  width: 14px;
  height: 14px;
}

.icon {
  flex-shrink: 0;
  color: var(--base-color);
}

.margin-none {
  margin-right: 0px;
}

.active_link {
  background-color: var(--colorsBackgroundSecondary);
}

/* PATTERN */

.active {
  position: relative;
}

.accent {
  color: var(--accent-color);
}

.active_line {
  border-bottom: 2px solid var(--accent-color);
}

.active::after {
  position: absolute;

  content: "";

  width: 100%;

  height: 1px;

  top: 0;

  background-color: var(--white);
}

/* LAYOUT */

.layout {
  padding: 0;
  flex: 1;
}

@media screen and (min-width: 767px) {
  .layout {
    padding: 24px 34px;
  }
}

/* SECTION BLOCK */

.section_block {
  width: 100%;

  padding: 8px 24px 24px;

  border-radius: var(--block-b-radius);
  box-shadow: var(--shadow-default);

  background-color: var(--white-accent);
}

.block_position {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.block_internal {
  padding: var(--block-padding);
  border-radius: var(--block-b-radius);

  background-color: var(--colorsBackgroundSecondary);
}

.rotate_page {
  padding-block: 30px 50px;

  display: flex;
}

/* PARAGRAPH */

h1,
h2,
h3,
h4 {
  -webkit-text-decoration: none;
  text-decoration: none;

  line-height: 1.3em;
  letter-spacing: 0.05em;
}

h1 {
  font-size: clamp(1rem, 0.3838rem + 2.6291vw, 2.75rem);
  font-weight: 400;
  text-align: left;
}

h2 {
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: clamp(0.625rem, 0.493rem + 0.5634vw, 1rem);
}

h3,
h4 {
  font-style: italic;
  font-weight: 400;
}

/* MARKETING LAYOUT */

.marketing-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

/* INPUT */

input[type="file" i]::-webkit-file-upload-button {
  cursor: pointer;
}

input,
textarea {
  padding: 1.5em;

  width: 100%;

  border: none;
  background: var(--white-opacity);

  border: 1px solid transparent;
}

input:focus {
  outline: none;
  border: var(--input-border);
}

input[type="search" i]::-webkit-search-cancel-button {
  display: none;
  opacity: 0;
}

textarea {
  position: relative;
  z-index: 1;
  resize: vertical;

  min-height: 150px;
  height: 150px;

  background-color: var(--white);
}

.textarea_panel {
  display: flex;
  justify-content: space-between;
}

::placeholder {
  font-size: 12px;
}

.emoji_picker_popup {
  z-index: 3;
  position: absolute;

  bottom: -175px;
  right: -360px;
}

/* CLOSE */

/* import { RiCloseLargeLine } from "react-icons/ri"; */

.close {
  content: "";

  position: absolute;

  top: 50%;
  right: 20px;

  transform: translateY(-50%);

  width: var(--btn-width);
  height: var(--btn-height);

  color: var(--light-dark);
}

/* CHECKBOX */

.checkbox_label {
  position: relative;

  display: flex;
  align-items: center;
}

.checkbox_label span:hover {
  text-decoration: underline;
}

.checkbox_input {
  opacity: 0;

  width: 20px;
  height: 20px;
}

.checkbox_input_custom {
  position: absolute;

  width: 20px;
  height: 20px;

  border-radius: 5px;

  border: 1px solid var(--bar-background);
}

/* Галочка */
.checkbox_input_custom::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  top: 2.5px;
  left: 6px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Коли чекбокс активний */
.checkbox_input:checked + .checkbox_input_custom {
  background: var(--button-active);
  border-color: var(--button-active);
}

.checkbox_input:checked + .checkbox_input_custom::after {
  opacity: 1;
}

.label {
  margin-left: 7px;
  font-size: 12px;
}

/* AVATAR BLOCK */

.avatar_block {
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: var(--colorsBackgroundSecondary);

  width: 74px;
  height: 74px;

  color: var(--button-active);

  font-weight: 700;

  font-size: 24px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SWIPER */

.swiper-grid-column > .swiper-wrapper {
  flex-flow: row wrap !important;
}

.swiper-slide {
  margin-top: 0 !important;
  margin-bottom: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 1;
  position: relative;

  width: 64px !important;
  height: 64px !important;

  border-radius: 50%;

  background-color: var(--white-accent);

  box-shadow: var(--shadow-default);

  top: 47% !important;
}

.swiper-button-prev {
  left: 50px !important;
}

.swiper-button-next {
  right: 50px !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  color: var(--accent-color);

  width: 22px !important;
  height: 22px !important;

  margin-right: 0 !important;
}

.swiper-button-prev svg {
  margin-right: 2px !important;
}

.swiper-button-next svg {
  margin-left: 2px !important;
}

:is(.swiper-button-prev, .swiper-button-next).swiper-button-disabled {
  display: none;
}

@media screen and (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
