.title_block {
  margin-bottom: var(--section-title-m-b);

  display: flex;
  gap: 10px;

  align-items: end;
}

.title {
  font-size: clamp(1rem, 0.7rem + 0.5178vw, 1.5rem);
  font-weight: 700;
}

.categories_logo {
  width: 58px;
  height: 58px;
}

@media screen and (max-width: 767px) {
  .categories_logo {
    width: 44px;
    height: 44px;
  }
}
