/* ASIDE */

.aside_block {
  padding: var(--block-padding);

  max-width: 280px;

  width: 100%;
  height: 100%;

  border-radius: var(--block-b-radius);

  box-shadow: var(--shadow-default);

  background-color: var(--white-accent);
}

/* PROFILE PULPIT */

.profile_pulpit_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;

  gap: 14px;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 7px;
}

.user_name {
  font-size: 18px;
  font-weight: 700;
}

.user_email {
  font-size: 14px;
}
