/* ASIDE */

.aside_block {
  padding: var(--block-padding);

  max-width: 280px;

  width: 100%;
  height: 100%;

  border-radius: var(--block-b-radius);

  box-shadow: var(--shadow-default);
}

/* PROFILE PULPIT */

.profile_pulpit_block {
  margin-bottom: 34px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;

  gap: 18px;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}

.user_info:first-child {
  font-weight: 700;
}

/* NAVIGATION LINK */

.nav_list {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;

  gap: 14px;
}

.link {
  padding: 12px;

  display: flex;
  align-items: center;

  border-radius: var(--block-b-radius);
}

.link:last-child {
  position: relative;

  margin-top: 91px;
}

.link:last-child::before {
  position: absolute;

  top: -18px;
  left: 0;

  content: "";

  width: 100%;
  height: 0.004em;

  background-color: var(--colorsOpacitySecondaryMedium);
}

.link:hover {
  background-color: var(--colorsBackgroundSecondary);
}
